<div
  class="carousel {% if carousel_autoplay.enabled %}autoplay{% endif %}"
  id="carousel"
  data-autoplay-interval="{{ carousel_autoplay.interval }}"
>
  <div class="carousel__track" id="carousel__track">
    <div class="carousel__track-inner">
      {% for item in list %}
      <div class="carousel__track-item">
        <img src="{{ item.img_src }}" alt="{{ item.alt }}" />
        <h3>{{ item.title }}</h3>
        <p>{{ item.desc }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="carousel__controls">
    {% if carousel_cta_text %}
    <div class="carousel__controls-cta">
      <!-- prettier-ignore -->
      <button class="carousel-cta cta-1 tab-element-page">{{ carousel_cta_text }}</button>
    </div>
    {% endif %}

    <div class="carousel__controls-slider">
      <button
        class="carousel-btn-prev tab-element-page"
        aria-label="previous slide"
        aria-controls="carousel__track"
      >
        <img src="{{ global.carousel.arrow_img }}" alt="" eleventy:ignore />
      </button>
      <button
        class="carousel-btn-next tab-element-page"
        aria-label="next slide"
        aria-controls="carousel__track"
      >
        <img src="{{ global.carousel.arrow_img }}" alt="" eleventy:ignore />
      </button>
    </div>

    <div class="carousel__controls-autoplay">
      <!-- prettier-ignore -->
      {% set btn_toggle_class = "carousel-autoplay-toggle" %}
      {% set btn_toggle_label = "autoplay:" %}
      {% include "./button-toggle.njk" %}
    </div>
  </div>
</div>
