<div
  class="carousel {% if carousel_autoplay.enabled %}autoplay{% endif %}"
  id="carousel"
  data-autoplay-interval="{{ carousel_autoplay.interval }}"
>
  <div class="carousel__track" id="carousel__track">
    <div class="carousel__track-inner">
      {% for item in list %} {% if video_carousel %}
      <button
        class="video-toggle carousel__track-item tab-element-page"
        data-src="{{ item.src }}"
        aria-label="Play video: {{ item.details }}"
        aria-controls="video-overlay"
      >
        <img src="{{ item.poster }}" alt="{{ item.details }}" />
      </button>
      {% else %}
      <div class="carousel__track-item">
        <img src="{{ item.poster }}" alt="{{ item.details }}" />
        <p class="carousel__track-desc">hello</p>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div class="carousel-footer">
    {% if carousel_progress %}
    <div class="carousel__progress">
      <div class="carousel__progress-bar"></div>
    </div>
    {% endif %}

    <div class="carousel__controls">
      {% if carousel_cta_text %}
      <div class="carousel__controls-cta">
        <!-- prettier-ignore -->
        <button class="carousel-cta cta-1 tab-element-page">{{ carousel_cta_text }}</button>
      </div>
      {% endif %}

      <div class="carousel__controls-slider">
        <button
          class="carousel-btn-prev tab-element-page"
          aria-label="previous slide"
          aria-controls="carousel__track"
        >
          <img src="{{ global.carousel.arrow_img }}" alt="" eleventy:ignore />
        </button>
        <button
          class="carousel-btn-next tab-element-page"
          aria-label="next slide"
          aria-controls="carousel__track"
        >
          <img src="{{ global.carousel.arrow_img }}" alt="" eleventy:ignore />
        </button>
      </div>
    </div>
  </div>
</div>
