<div class="cta-group">
  {% if cta_1_text and cta_1_url %}
  <a
    class="cta-1 {%if cta_1_outline%}outline{%endif%} tab-element-page"
    href="{{ cta_1_url }}"
    aria-label="{{ cta_1_text_description or cta_1_text }}"
  >
    {{ cta_1_text }}
    <span class="sr-only">{{ cta_1_text_description }}</span>
  </a>
  {% endif %}
  <!-- prettier-ignore -->
  {% if cta_2_text and cta_2_url %}
  <a
    class="cta-2 {%if cta_2_outline%}outline{%endif%} tab-element-page"
    href="{{ cta_2_url }}"
    aria-label="{{ cta_2_text_description or cta_2_text }}"
  >
    {{ cta_2_text }}
    <span class="sr-only">{{ cta_2_text_description }}</span>
  </a>
  {% endif %}
</div>
