<a
  class="logo-link {{ logo_link_class }} {{ page_tabbing }}"
  href="{{ settings.url }}"
>
  <img
    class="logo-link__img {{ logo_link_class }}__img"
    src="{{ logo_link_src }}"
    alt="{{ meta_data.site_name }} logo"
    width="116"
    height="32"
  />
</a>
