<figure class="portrait-gradient {{ class }}">
  <img class="portrait-gradient__img" src="{{ src }}" alt="" />
  <figcaption class="portrait-gradient__caption">
    <h3 class="portrait-gradient__caption-name">{{ name }}</h3>
    <h4 class="portrait-gradient__caption-role">{{ role }}</h4>
  </figcaption>
</figure>
