* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);

  & > * {
    max-width: $content-width;
    margin: auto;
  }

  // Loader styles, controlled by having a loader partial present in the html
  &:has(.site-loader) {
    $duration: 1s;
    $delay: 0.25s;

    .hero {
      h1,
      p,
      div {
        opacity: 0;
        transition: opacity $duration ease $delay;
      }

      p {
        transition-delay: $delay + 0.075s;
      }
      div {
        transition-delay: $delay + 0.125s;
      }
    }
  }

  // Loader complete styles
  &:has(.load-complete) {
    .hero {
      h1,
      p,
      div {
        opacity: 1;
      }
    }
  }
}

.site-header {
  // No static content here to allow clickthrough

  & > * {
    position: fixed;
    z-index: $z-index--header;
    transition: opacity 0.5s ease;
  }

  .header-logo {
    @include left-spacing;
    @include row-center(flex-start);
    top: var(--body-padding);
    height: var(--header-height);
    aspect-ratio: 5/1;

    &__img {
      height: 100%;
    }
  }

  .header-links {
    @include row-center;
    @include right-spacing;
    top: var(--body-padding);
    gap: 48px;
    display: none;

    @include mq-max("lg") {
      display: none;
    }

    &__link {
      &:hover,
      &:focus-visible {
        &::after {
          background: var(--font-color--primary);
        }
      }
    }
  }

  .site-nav-btn-wrapper {
    @include right-spacing;
    top: var(--body-padding);
    height: var(--header-height);
    aspect-ratio: 1;
    transition: opacity 0.3s ease;

    .site-nav-btn {
      $line-offset: 3px;

      background: vaR(--btn-color-bg);
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      padding: 8px;
      transition: $ease-c;

      &:hover,
      &:focus-visible {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      &__line-wrapper {
        position: relative;
        transition: 0.2s ease;
      }

      &-line {
        @include absolute-center;
        width: 100%;
        height: 3px;
        background: var(--btn-color-text);
        transition: 0.3s ease;

        &:first-of-type {
          translate: -50% calc(-50% - $line-offset);
        }
        &:last-of-type {
          translate: -50% calc(-50% + $line-offset);
        }
      }

      &[aria-expanded="true"] {
        .site-nav-btn__line-wrapper {
          rotate: 45deg;
        }
        .site-nav-btn-line {
          translate: -50% -50%;

          &:last-of-type {
            rotate: 90deg;
          }
        }
      }
    }
  }

  &.away-from-top {
    > * {
      @include hide-content;
    }
  }

  // &.nav-active {

  // }
}

.site-nav {
  max-width: unset;

  @include column-start;
  // @include hide-content;
  position: fixed;
  top: var(--body-padding-sm);
  left: var(--body-padding-sm);
  background-color: var(--surface-color);
  width: calc(100vw - var(--body-padding-sm-double));
  height: calc(100dvh - var(--body-padding-sm-double));
  min-height: var(--section-min-height); //Triggers overflow content
  border-radius: var(--radius);
  z-index: $z-index--nav;
  overflow: auto;
  padding: var(--body-padding);
  padding-block-start: var(--top-spacing-header);

  &__inner {
    max-width: $content-width;

    @include column-start(space-between);
    // padding: var(--body-padding);
    // padding-block-start: var(--top-spacing-header);
    margin: auto;
    width: 100%;
    // height: 100%;
  }

  .nav-links {
    &__link {
      @include h1;
      color: var(--link-color);
      display: inline-flex;
      gap: 0.2ch;
      transition: color $ease;

      @include desktop-hover {
        color: var(--link-color-hover);

        .reveal {
          width: 6ch;
        }
      }

      .reveal {
        width: 0;
        overflow: hidden;
        transition: color 0.01s ease, width $ease;
      }
    }
  }

  &__footer {
    @include row-center(flex-end);
    width: 100%;
  }

  &[aria-hidden="false"] {
    @include show-content;
  }
}

.site-footer {
  @include row-center(space-between);
  gap: 12px;
  position: relative;
  padding: var(--body-padding);

  @media all {
    @include mq-max("lg") {
      justify-content: flex-start;
    }

    @include mq-max("md") {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;

    @include mq-max("lg") {
      left: auto;
      bottom: 0;
      right: var(--body-padding);
      translate: 0 calc(var(--body-padding) * -1);
    }

    @include mq-max("sm") {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    @include mq-max("md") {
      font-size: 12px;
    }
  }
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: $z-index--loader;

  &__text {
    @include h6;
    color: var(--font-color--primary);
  }

  &.load-complete {
    @include hide-content;
    transition: 0.5s ease;
  }
}

section {
  @include section-padding;
}

h1,
.h1 {
  @include h1;
  // text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p,
strong,
em,
a,
figcaption,
blockquote,
input,
textarea,
label,
li {
  @include body-font-styles;
  text-decoration: none;

  &.body-lg {
    @include body-font-styles(lg);
  }
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-family: $brand-font--body;
  font-size: 12px;
}

img,
video {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

// Partials

// .hero {

// }
