:root {
  --background-color: #f7f7f7;
  --font-color--primary: #0058f5;
  --font-color--secondary: #d9d9d9;
  --font-color--error: #dc143c;
  --hero-color--primary: #0058f5;
  --font-family--heading: Satoshi, source-sans-pro, sans-serif;
  --font-family--body: Satoshi, source-sans-pro, sans-serif;
  --btn-color-bg: #0058f5;
  --btn-color-text: #f7f7f7;
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #f7f7f7;
  --btn-color-text--hover: #0058f5;
  --btn-color-border--hover: var(--btn-color-bg--hover);
  --btn-color-2-bg: #f7f7f7;
  --btn-color-2-text: #0058f5;
  --btn-color-2-border: var(--btn-color-2-text);
  --btn-color-2-bg--hover: #0058f5;
  --btn-color-2-text--hover: #f7f7f7;
  --btn-color-2-border--hover: var(--btn-color-2-bg--hover);
  --link-color: #0058f5;
  --link-color-hover: #f7f7f7;
  --surface-color: #d9d9d9;
  --surface-color-2: #efefef;
  --content-width: 1920px;
  --body-padding: 24px;
  --body-padding-double: calc(var(--body-padding) * 2);
  --body-padding-sm: 12px;
  --body-padding-sm-double: calc(var(--body-padding-sm) * 2);
  --section-min-height: 750px;
  --section-gap: 64px;
  --section-gap--lg: 64px;
  --header-height: 36px;
  --logo-offset: 4px;
  --logo-height: calc(var(--header-height) - var(--logo-offset));
  --top-spacing-header: calc(var(--header-height) + var(--body-padding) * 1.5);
  --border-bold-girth: 4px;
  --border-bold-color: #d9d9d9;
  --radius-sm: 5px;
  --radius: 8px;
  --radius-lg: 24px;
  --radius-btn: 10px;
}
@media (max-width: 1512px) {
  :root {
    --section-min-height: 620px;
  }
}
@media (max-width: 1024px) {
  :root {
    --section-gap--lg: 24px;
    --header-height: 32px;
  }
}
@media (max-width: 768px) {
  :root {
    --body-padding: 16px;
    --logo-offset: 6px;
    --border-bold-girth: 2px;
    --radius: 5px;
  }
}

:root {
  --carousel-snap-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*:-webkit-autofill, *:-webkit-autofill:hover, *:-webkit-autofill:focus-visible {
  -webkit-text-fill-color: var(--font-color--primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
}
* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  display: none;
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);
}
body > * {
  max-width: 1920px;
  margin: auto;
}
body:has(.site-loader) .hero h1,
body:has(.site-loader) .hero p,
body:has(.site-loader) .hero div {
  opacity: 0;
  transition: opacity 1s ease 0.25s;
}
body:has(.site-loader) .hero p {
  transition-delay: 0.325s;
}
body:has(.site-loader) .hero div {
  transition-delay: 0.375s;
}
body:has(.load-complete) .hero h1,
body:has(.load-complete) .hero p,
body:has(.load-complete) .hero div {
  opacity: 1;
}

.site-header > * {
  position: fixed;
  z-index: 4;
  transition: opacity 0.5s ease;
}
.site-header .header-logo {
  left: var(--body-padding);
  top: calc(var(--body-padding) + var(--logo-offset));
}
@media screen and (min-width: 1921px) {
  .site-header .header-logo {
    left: calc(50% - 960px + var(--body-padding));
  }
}
.site-header .header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  right: var(--body-padding);
  top: var(--body-padding);
  gap: 48px;
  display: none;
}
@media screen and (min-width: 1921px) {
  .site-header .header-links {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
@media screen and (max-width: 1024px) {
  .site-header .header-links {
    display: none;
  }
}
.site-header .header-links__link:hover::after, .site-header .header-links__link:focus-visible::after {
  background: var(--font-color--primary);
}
.site-header .site-nav-btn-wrapper {
  right: var(--body-padding);
  top: var(--body-padding);
  height: var(--header-height);
  aspect-ratio: 1;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 1921px) {
  .site-header .site-nav-btn-wrapper {
    right: calc(50% - (960px - var(--body-padding)));
  }
}
.site-header .site-nav-btn-wrapper .site-nav-btn {
  --line-offset: 3px;
  border: 1px solid var(--btn-color-border);
  background: var(--btn-color-bg);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 8px;
  transition: 0.82s cubic-bezier(0.18, 0.97, 0.47, 1);
}
@media screen and (max-width: 1024px) {
  .site-header .site-nav-btn-wrapper .site-nav-btn {
    --line-offset: 2.25px;
  }
}
.site-header .site-nav-btn-wrapper .site-nav-btn:hover, .site-header .site-nav-btn-wrapper .site-nav-btn:focus-visible {
  scale: 1.1;
}
.site-header .site-nav-btn-wrapper .site-nav-btn:active {
  scale: 0.9;
}
.site-header .site-nav-btn-wrapper .site-nav-btn__line-wrapper {
  position: relative;
  transition: 0.2s ease;
}
.site-header .site-nav-btn-wrapper .site-nav-btn-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 125%;
  height: 3px;
  background: var(--btn-color-text);
  transition: 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .site-header .site-nav-btn-wrapper .site-nav-btn-line {
    height: 2.5px;
  }
}
.site-header .site-nav-btn-wrapper .site-nav-btn-line:first-of-type {
  translate: -50% calc(-50% - var(--line-offset));
}
.site-header .site-nav-btn-wrapper .site-nav-btn-line:last-of-type {
  translate: -50% calc(-50% + var(--line-offset));
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] {
  background-color: transparent;
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] .site-nav-btn__line-wrapper {
  rotate: 45deg;
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] .site-nav-btn-line {
  translate: -50% -50%;
  background: var(--btn-color-bg);
}
.site-header .site-nav-btn-wrapper .site-nav-btn[aria-expanded=true] .site-nav-btn-line:last-of-type {
  rotate: 90deg;
}

.site-nav {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  max-width: unset;
  width: 100vw;
  height: 100dvh;
  background-color: var(--background-color);
  padding: var(--body-padding-sm);
  min-height: var(--section-min-height);
  z-index: 3;
}
@media (prefers-reduced-motion: no-preference) {
  .site-nav {
    transition: opacity 0.32s ease;
  }
}
.site-nav__inner {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  background-color: var(--surface-color);
  max-width: 1920px;
  width: calc(100vw - var(--body-padding-sm-double));
  height: calc(100dvh - var(--body-padding-sm-double));
  min-height: var(--section-min-height);
  border-radius: var(--radius);
  padding: var(--body-padding);
  padding-block-start: var(--top-spacing-header);
}
@media (prefers-reduced-motion: no-preference) {
  .site-nav__inner {
    translate: 0 -48px;
    transition: opacity 0.32s ease, translate 0.32s ease;
  }
}
.site-nav .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  height: 100%;
}
@media screen and (min-width: 1513px) {
  .site-nav .nav-links {
    gap: 24px;
  }
}
@media screen and (min-width: 1025px) {
  .site-nav .nav-links {
    margin-inline-start: var(--body-padding-double);
  }
}
.site-nav .nav-links__link {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 96px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -2px;
  position: relative;
  color: #f7f7f7;
  display: inline-flex;
  gap: 0.2ch;
  transition: color 0.32s ease;
}
@media screen and (max-width: 1512px) {
  .site-nav .nav-links__link {
    font-size: max(56px, 6.2vw);
  }
}
@media screen and (max-width: 768px) {
  .site-nav .nav-links__link {
    font-size: 36px;
  }
}
.site-nav .nav-links__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: var(--border-bold-girth);
  background: var(--hero-color--primary);
  transition: width 0.32s ease;
}
@media (hover: hover) and (pointer: fine) {
  .site-nav .nav-links__link:hover, .site-nav .nav-links__link:focus-visible {
    border-color: var(--hero-color--primary);
    color: #0058f5;
  }
  .site-nav .nav-links__link:hover::before, .site-nav .nav-links__link:focus-visible::before {
    width: 100%;
  }
  .site-nav .nav-links__link:hover .reveal, .site-nav .nav-links__link:focus-visible .reveal {
    width: 5.75ch;
  }
}
.site-nav .nav-links__link .reveal {
  width: 0;
  overflow: hidden;
  transition: color 0.01s ease, width 0.32s ease;
}
.site-nav__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.site-nav[aria-hidden=false] {
  opacity: 1;
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.site-nav[aria-hidden=false] .site-nav__inner {
  opacity: 1;
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
  translate: 0 0;
}

.site-footer {
  --background-color: #000014;
  --font-color--primary: #f7f7f7;
  --link-color: #f7f7f7;
  --link-color-hover: #d9d9d9;
  --btn-color-bg: #f7f7f7;
  --btn-color-text: #0058f5;
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #0058f5;
  --btn-color-text--hover: #f7f7f7;
  --btn-color-border--hover: var(--btn-color-bg--hover);
  color: var(--font-color--primary);
  background-color: var(--hero-color--primary);
  width: calc(100vw - var(--body-padding-sm-double));
  padding: var(--body-padding-double);
  margin-bottom: var(--body-padding-sm);
  border-radius: var(--radius-lg);
}
.site-footer__inner {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 128px;
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .site-footer__inner {
    gap: 64px;
  }
}
.site-footer__inner .inner-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .site-footer__inner .inner-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }
}
.site-footer .footer-links {
  display: grid;
  gap: 24px 128px;
}
@media screen and (min-width: 1025px) {
  .site-footer .footer-links {
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
  }
}

.site-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: 5;
}
.site-loader__text {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--font-color--primary);
}
@media screen and (max-width: 768px) {
  .site-loader__text {
    font-size: 20px;
  }
}
.site-loader.load-complete {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.5s ease;
}

section {
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding-double);
}

h1,
.h1 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 96px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -2px;
}
@media screen and (max-width: 1512px) {
  h1,
  .h1 {
    font-size: max(56px, 6.2vw);
  }
}
@media screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 36px;
  }
}

h2,
.h2 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
}
@media screen and (max-width: 1512px) {
  h2,
  .h2 {
    font-size: max(49.2px, 4.8vw);
  }
}

h3,
.h3 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -2px;
}
@media screen and (max-width: 1512px) {
  h3,
  .h3 {
    font-size: max(40px, 3.6vw);
  }
}
@media screen and (max-width: 480px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}

h4,
.h4 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
}
@media screen and (max-width: 1512px) {
  h4,
  .h4 {
    font-size: max(28.7px, 2.4vw);
  }
}

h5,
.h5 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -1px;
}
@media screen and (max-width: 1512px) {
  h5,
  .h5 {
    font-size: max(22px, 2vw);
  }
}
@media screen and (max-width: 480px) {
  h5,
  .h5 {
    font-size: 18px;
  }
}

h6,
.h6 {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -1px;
}
@media screen and (max-width: 768px) {
  h6,
  .h6 {
    font-size: 20px;
  }
}

p,
strong,
em,
a,
figcaption,
blockquote,
input,
textarea,
label,
li {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: "Satoshi", source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 1512px) {
  p,
  strong,
  em,
  a,
  figcaption,
  blockquote,
  input,
  textarea,
  label,
  li {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p,
  strong,
  em,
  a,
  figcaption,
  blockquote,
  input,
  textarea,
  label,
  li {
    --font-size: 14px;
  }
}
p.body-lg,
strong.body-lg,
em.body-lg,
a.body-lg,
figcaption.body-lg,
blockquote.body-lg,
input.body-lg,
textarea.body-lg,
label.body-lg,
li.body-lg {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: "Satoshi", source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  --font-size: 24px;
  line-height: 1.5;
}
@media screen and (max-width: 1512px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg {
    --font-size: 14px;
  }
}
@media screen and (max-width: 1512px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg {
    --font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  p.body-lg,
  strong.body-lg,
  em.body-lg,
  a.body-lg,
  figcaption.body-lg,
  blockquote.body-lg,
  input.body-lg,
  textarea.body-lg,
  label.body-lg,
  li.body-lg {
    --font-size: 16px;
  }
}

strong {
  font-weight: 900;
}

a {
  color: var(--link-color);
}
@media (hover: hover) and (pointer: fine) {
  a:hover, a:focus-visible {
    color: var(--link-color-hover);
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-family: "Satoshi", source-sans-pro, sans-serif;
  font-size: 12px;
}

img,
video {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0;
}

.classic-link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.5px;
}
@media screen and (max-width: 1024px) {
  .classic-link {
    font-size: 16px;
    font-weight: 800;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .classic-link {
    transition: 0.32s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .classic-link:hover, .classic-link:focus-visible {
    color: var(--link-color-hover);
  }
}

.classic-list {
  list-style: initial;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media all {
  .magnet {
    transition: translate 0.025s ease-in;
  }
  .fill-text,
  .fill-text-hover {
    display: inline;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(currentColor, currentColor);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.25);
  }
  .fill-text:is(.fill-text-hover),
  .fill-text-hover:is(.fill-text-hover) {
    background-size: 0%;
    transition: 0.32s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .fill-text:is(.fill-text-hover):hover, .fill-text:is(.fill-text-hover):focus-visible,
  .fill-text-hover:is(.fill-text-hover):hover,
  .fill-text-hover:is(.fill-text-hover):focus-visible {
    background-size: 100%;
  }
}
@media all {
  .lg-up {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .lg-up {
    display: block;
  }
}
@media all {
  .lg-down {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .lg-down {
    display: block;
  }
}
@media all {
  .md-up {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .md-up {
    display: block;
  }
}
@media all {
  .md-down {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .md-down {
    display: block;
  }
}
@media all {
  .sm-up {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .sm-up {
    display: block;
  }
}
@media all {
  .sm-down {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sm-down {
    display: block;
  }
}
@media all {
  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
    font-weight: 500;
  }
  .underline {
    text-decoration: underline;
  }
  .color-primary {
    color: var(--hero-color--primary);
  }
  .color-secondary {
    color: var(--hero-color--secondary);
  }
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 100 900;
}
.main-home {
  padding: var(--body-padding-sm);
}
.main-home .hero {
  --background-color: #000014;
  --font-color--primary: #f7f7f7;
  --link-color: #f7f7f7;
  --link-color-hover: #d9d9d9;
  --btn-color-bg: #f7f7f7;
  --btn-color-text: #0058f5;
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #0058f5;
  --btn-color-text--hover: #f7f7f7;
  --btn-color-border--hover: var(--btn-color-bg--hover);
  color: var(--font-color--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(750px, 100vh - var(--body-padding-sm-double));
  padding: 0;
}
@media screen and (max-width: 1512px) {
  .main-home .hero {
    height: max(620px, 100vh - var(--body-padding-sm-double));
  }
}
@media screen and (max-width: 1024px) {
  .main-home .hero {
    min-height: 850px;
  }
}
@media screen and (max-width: 1024px) {
  .main-home .hero {
    flex-direction: column-reverse;
  }
}
.main-home .hero .hero-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 50%;
  padding-block-start: 150px;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .main-home .hero .hero-panel {
    transition: 0.32s ease;
  }
}
@media screen and (max-width: 1024px) {
  .main-home .hero .hero-panel {
    width: 100%;
    justify-content: space-between;
    padding-block: 24px 64px;
  }
}
.main-home .hero .hero-panel:hover::after, .main-home .hero .hero-panel:focus-within::after {
  opacity: 1;
}
.main-home .hero .hero-panel:hover .hero-panel__bg-img, .main-home .hero .hero-panel:focus-within .hero-panel__bg-img {
  transform: scale(1.025);
}
.main-home .hero .hero-panel::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.main-home .hero .hero-panel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.82s cubic-bezier(0.18, 0.97, 0.47, 1);
  opacity: 0;
  background: linear-gradient(var(--direction), rgba(0, 88, 245, 0.8) 0%, transparent 100%);
}
.main-home .hero .hero-panel__bg-img {
  position: absolute;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
@media (prefers-reduced-motion: no-preference) {
  .main-home .hero .hero-panel__bg-img {
    transition: 0.32s ease;
  }
}
.main-home .hero .hero-panel__logo {
  width: 416px;
  aspect-ratio: 2/1;
}
@media screen and (max-width: 1512px) {
  .main-home .hero .hero-panel__logo {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .main-home .hero .hero-panel__logo {
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .main-home .hero .hero-panel__logo {
    width: min(55%, 320px);
  }
}
.main-home .hero .hero-panel__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-block: 32px 48px;
}
.main-home .hero .sunder-internal {
  border-radius: 0 var(--radius) var(--radius) 0;
}
@media screen and (max-width: 1024px) {
  .main-home .hero .sunder-internal {
    border-radius: var(--radius) var(--radius) 0 0;
  }
}
.main-home .hero .sunder-internal::after {
  --direction: to right;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .main-home .hero .sunder-internal::after {
    --direction: to top;
    top: auto;
    bottom: 0;
  }
}
.main-home .hero .sunder-external {
  border-radius: var(--radius) 0 0 var(--radius);
}
@media screen and (max-width: 1024px) {
  .main-home .hero .sunder-external {
    border-radius: 0 0 var(--radius) var(--radius);
  }
}
.main-home .hero .sunder-external::after {
  --direction: to left;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .main-home .hero .sunder-external::after {
    --direction: to bottom;
  }
}

.main-join {
  padding: var(--body-padding-sm);
}
.main-join .hero {
  height: max(750px, 100vh - var(--body-padding-sm-double));
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--body-padding-sm);
}
@media screen and (max-width: 1512px) {
  .main-join .hero {
    height: max(620px, 100vh - var(--body-padding-sm-double));
  }
}
@media screen and (max-width: 1024px) {
  .main-join .hero {
    min-height: 850px;
  }
}
.main-join .hero > * {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1025px) {
  .main-join .hero > * {
    width: 50%;
  }
}
.main-join .hero .join-carousel {
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .main-join .hero .join-carousel {
    display: none;
  }
}
.main-join .hero .join-carousel__img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: 0.32s ease;
}
.main-join .hero .join-carousel__img.active {
  opacity: 1;
}
.main-join .hero .form-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
}
@media screen and (max-width: 1024px) {
  .main-join .hero .form-panel {
    gap: 64px;
  }
}
.main-join .hero .form-panel__title {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -2px;
}
@media screen and (max-width: 1512px) {
  .main-join .hero .form-panel__title {
    font-size: max(40px, 3.6vw);
  }
}
@media screen and (max-width: 480px) {
  .main-join .hero .form-panel__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .main-join .hero .form-panel__title {
    font-size: 56px;
    text-align: center;
  }
}

.main-sunder-way {
  padding: var(--body-padding-sm);
}

.section-ethos {
  height: 100vh;
  border-radius: var(--radius-lg);
  background: linear-gradient(to bottom, #efefef 0%, var(--background-color) 75%);
  margin-top: var(--top-spacing-header);
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1513px) {
  .error {
    height: clamp(750px, 100vh, 1250px);
  }
}
@media screen and (max-width: 1512px) {
  .error {
    height: clamp(625px, 100vh, 1100px);
  }
}
@media screen and (max-width: 768px) {
  .error {
    height: clamp(500px, 100svh, 950px);
  }
}
.error h1 {
  margin-block-end: 24px;
}
.error h1 span {
  color: var(--hero-color--primary);
}
.error p {
  margin-block-end: 48px;
}

.cta-1,
.cta-2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.5px;
  border: 1px solid var(--btn-color-border);
  border-radius: var(--radius-btn);
  background: var(--btn-color-bg);
  color: var(--btn-color-text);
  padding: 8px 20px;
  flex-shrink: 0;
}
@media screen and (max-width: 1024px) {
  .cta-1,
  .cta-2 {
    font-size: 16px;
    font-weight: 800;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .cta-1,
  .cta-2 {
    transition: 0.32s ease;
  }
}
@media (hover: hover) and (pointer: fine) {
  .cta-1:hover, .cta-1:focus-visible,
  .cta-2:hover,
  .cta-2:focus-visible {
    border-color: var(--btn-color-border--hover);
    background: var(--btn-color-bg--hover);
    color: var(--btn-color-text--hover);
  }
}
.cta-1.outline,
.cta-2.outline {
  --btn-color-border--hover: var(--btn-color-bg);
}

.cta-2 {
  border: 1px solid var(--btn-color-2-border);
  background: var(--btn-color-2-bg);
  color: var(--btn-color-2-text);
}
@media (hover: hover) and (pointer: fine) {
  .cta-2:hover, .cta-2:focus-visible {
    border-color: var(--btn-color-2-border--hover);
    background: var(--btn-color-2-bg--hover);
    color: var(--btn-color-2-text--hover);
  }
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.logo-link {
  display: inline-flex;
  height: var(--logo-height);
  aspect-ratio: 5/1;
}
.logo-link__img {
  height: 100%;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.social-media:hover .social-media__label, .social-media:focus-within .social-media__label {
  translate: 0 -25%;
  transition: 0.32s ease;
  scale: 0.9;
  transform-origin: top right;
}
.social-media:hover .social-media__links li:nth-of-type(1), .social-media:focus-within .social-media__links li:nth-of-type(1) {
  transition: 0.3s ease 0.02s;
}
.social-media:hover .social-media__links li:nth-of-type(2), .social-media:focus-within .social-media__links li:nth-of-type(2) {
  transition: 0.3s ease 0.04s;
}
.social-media:hover .social-media__links li:nth-of-type(3), .social-media:focus-within .social-media__links li:nth-of-type(3) {
  transition: 0.3s ease 0.06s;
}
.social-media:hover .social-media__links li:nth-of-type(4), .social-media:focus-within .social-media__links li:nth-of-type(4) {
  transition: 0.3s ease 0.08s;
}
.social-media:hover .social-media__links li:nth-of-type(5), .social-media:focus-within .social-media__links li:nth-of-type(5) {
  transition: 0.3s ease 0.1s;
}
.social-media:hover .social-media__links li:nth-of-type(6), .social-media:focus-within .social-media__links li:nth-of-type(6) {
  transition: 0.3s ease 0.12s;
}
.social-media:hover .social-media__links li:nth-of-type(7), .social-media:focus-within .social-media__links li:nth-of-type(7) {
  transition: 0.3s ease 0.14s;
}
.social-media:hover .social-media__links li:nth-of-type(8), .social-media:focus-within .social-media__links li:nth-of-type(8) {
  transition: 0.3s ease 0.16s;
}
.social-media:hover .social-media__links li:nth-of-type(9), .social-media:focus-within .social-media__links li:nth-of-type(9) {
  transition: 0.3s ease 0.18s;
}
.social-media:hover .social-media__links li:nth-of-type(10), .social-media:focus-within .social-media__links li:nth-of-type(10) {
  transition: 0.3s ease 0.2s;
}
.social-media:hover .social-media__links li, .social-media:focus-within .social-media__links li {
  opacity: 1;
}
.social-media__label {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--text-color);
  transition: 0.32s ease 0.2s;
}
@media screen and (max-width: 768px) {
  .social-media__label {
    font-size: 20px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .social-media__label {
    translate: 0 100%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .social-media__label {
    translate: 0 -50%;
  }
}
.social-media__links {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .social-media__links {
    gap: 12px;
  }
}
.social-media__links li:nth-of-type(1) {
  transition: 0.3s ease 0.02s;
}
.social-media__links li:nth-of-type(2) {
  transition: 0.3s ease 0.04s;
}
.social-media__links li:nth-of-type(3) {
  transition: 0.3s ease 0.06s;
}
.social-media__links li:nth-of-type(4) {
  transition: 0.3s ease 0.08s;
}
.social-media__links li:nth-of-type(5) {
  transition: 0.3s ease 0.1s;
}
.social-media__links li:nth-of-type(6) {
  transition: 0.3s ease 0.12s;
}
.social-media__links li:nth-of-type(7) {
  transition: 0.3s ease 0.14s;
}
.social-media__links li:nth-of-type(8) {
  transition: 0.3s ease 0.16s;
}
.social-media__links li:nth-of-type(9) {
  transition: 0.3s ease 0.18s;
}
.social-media__links li:nth-of-type(10) {
  transition: 0.3s ease 0.2s;
}
@media (hover: hover) and (pointer: fine) {
  .social-media__links li {
    opacity: 0;
  }
}
.social-media__link {
  --link-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--link-size);
  height: var(--link-size);
  overflow: hidden;
  transition: 0.25s ease;
}
@media screen and (max-width: 1024px) {
  .social-media__link {
    --link-size: 28px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .social-media__link:hover .social-media__link-img, .social-media__link:focus-visible .social-media__link-img {
    background: white;
  }
}
.social-media__link-img {
  background: currentColor;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  width: 100%;
  height: 100%;
  transition: 0.32s ease;
}

.accordion {
  display: flex;
  flex-direction: column;
}
.accordion-btn {
  border-bottom: var(--border-bold-girth) solid var(--border-bold-color);
  text-align: left;
  padding-block: 24px;
}
.accordion-btn:first-of-type {
  border-top: var(--border-bold-girth) solid var(--border-bold-color);
}
.accordion-btn[aria-expanded=true] .accordion-label__icon {
  rotate: 90deg;
}
.accordion-btn[aria-expanded=true] .accordion-content {
  grid-template-rows: 1fr;
  visibility: visible;
}
.accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  gap: 24px;
}
@media screen and (max-width: 1512px) {
  .accordion-label {
    font-size: max(28.7px, 2.4vw);
  }
}
@media screen and (max-width: 480px) {
  .accordion-label {
    gap: 12px;
  }
}
.accordion-label__title {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}
.accordion-label__icon {
  display: inline-flex;
  transition: 0.32s ease;
}
.accordion-content {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: "Satoshi", source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  display: grid;
  grid-template-rows: 0fr;
  visibility: hidden;
  transition: 0.32s ease;
}
@media screen and (max-width: 1512px) {
  .accordion-content {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .accordion-content {
    --font-size: 14px;
  }
}
.accordion-content__inner {
  overflow: hidden;
}

.main-advanced .grid-flow-img-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 128px;
}
.main-advanced .dots-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-advanced .dots-field svg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.main-advanced .dots-field svg circle {
  fill: var(--font-color--primary);
  opacity: 0.5;
}
.main-advanced .light {
  display: none;
}
.main-advanced .light .container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  filter: url("#noise") url("#light");
  justify-content: center;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.main-advanced .light .title {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 96px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -2px;
  font-size: 10vw;
  font-weight: 600;
  line-height: 90%;
  margin-bottom: 24px;
}
@media screen and (max-width: 1512px) {
  .main-advanced .light .title {
    font-size: max(56px, 6.2vw);
  }
}
@media screen and (max-width: 768px) {
  .main-advanced .light .title {
    font-size: 36px;
  }
}
.main-advanced .light .subtitle {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 1512px) {
  .main-advanced .light .subtitle {
    font-size: max(49.2px, 4.8vw);
  }
}
.main-advanced .light svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.main-advanced .light .cursor {
  display: none;
}
.main-advanced .light .cursor__point {
  position: fixed;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  translate: -50% -50%;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  display: none;
}
.main-advanced .light .cursor__light {
  margin: -24px 0 0 -24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.1;
  z-index: 2;
  display: none;
}

.blog-article-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap--lg);
  flex-wrap: wrap;
}

.blog-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
  flex-grow: 1;
  flex-basis: 420px;
}
.blog-article:first-of-type {
  flex-basis: 1920px;
}
.blog-article__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  aspect-ratio: 2/1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: var(--radius);
}
.blog-article__img img {
  -o-object-position: bottom;
     object-position: bottom;
}

.btn--toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btn--toggle__label {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: "Satoshi", source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
}
@media screen and (max-width: 1512px) {
  .btn--toggle__label {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .btn--toggle__label {
    --font-size: 14px;
  }
}
.btn--toggle__switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-inline: 4px;
  width: 64px;
  height: 32px;
  border-radius: var(--radius);
  background: #d9d9d9;
}
.btn--toggle__switch::before, .btn--toggle__switch::after {
  color: #f7f7f7;
  font-weight: 700;
  font-size: 12px;
}
@media (prefers-reduced-motion: no-preference) {
  .btn--toggle__switch::before, .btn--toggle__switch::after {
    transition: 0.32s ease;
  }
}
.btn--toggle__switch::before {
  content: attr(data-label-true);
  opacity: 0;
}
.btn--toggle__switch::after {
  content: attr(data-label-false);
  opacity: 1;
}
.btn--toggle__switch-nob {
  position: absolute;
  left: 4px;
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f7f7f7;
}
@media (prefers-reduced-motion: no-preference) {
  .btn--toggle__switch-nob {
    transition: 0.32s ease;
  }
}
.btn--toggle[aria-pressed=true] .btn--toggle__switch {
  background: var(--hero-color--primary);
}
.btn--toggle[aria-pressed=true] .btn--toggle__switch::before {
  opacity: 1;
}
.btn--toggle[aria-pressed=true] .btn--toggle__switch::after {
  opacity: 0;
}
.btn--toggle[aria-pressed=true] .btn--toggle__switch-nob {
  translate: 32px 0;
}

.carousel-hero {
  position: relative;
}
@media screen and (min-width: 1513px) {
  .carousel-hero {
    height: clamp(750px, 100vh, 1250px);
  }
}
@media screen and (max-width: 1512px) {
  .carousel-hero {
    height: clamp(625px, 100vh, 1100px);
  }
}
@media screen and (max-width: 768px) {
  .carousel-hero {
    height: clamp(500px, 100svh, 950px);
  }
}
.carousel-hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, var(--background-color) 0%, transparent 50%);
  z-index: 1;
  pointer-events: none;
}
.carousel-hero__text {
  position: absolute;
  bottom: var(--body-padding);
  left: var(--body-padding);
  z-index: 1;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .carousel-hero__text {
    width: calc(100% - var(--body-padding-double));
  }
}
.carousel-hero__text .carousel-hero__title {
  display: flex;
  margin-block-end: 24px;
  overflow: hidden;
}
.carousel-hero__text .carousel-hero__title span {
  animation: carousel-title-default 0.82s cubic-bezier(0.18, 0.97, 0.47, 1);
}
.carousel-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.carousel-hero__slide .carousel-hero__text,
.carousel-hero__slide .carousel-hero__img {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.82s cubic-bezier(0.18, 0.97, 0.47, 1);
}
.carousel-hero__slide.active .carousel-hero__text,
.carousel-hero__slide.active .carousel-hero__img {
  opacity: 1;
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.carousel-hero__slide.active .carousel-hero__img {
  pointer-events: none;
}
.carousel-hero__slide.active .carousel-hero__title span {
  animation: carousel-title-reveal 0.82s cubic-bezier(0.18, 0.97, 0.47, 1);
  transition: 0.82s cubic-bezier(0.18, 0.97, 0.47, 1);
}
@keyframes carousel-title-reveal {
  0% {
    translate: 0 100%;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes carousel-title-default {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 -100%;
  }
}

.carousel-snap-section {
  overflow: hidden;
}

.carousel-snap__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}
.carousel-snap__controls button {
  color: var(--font-color--primary);
}
.carousel-snap__controls button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.carousel-snap__track {
  overflow: hidden;
  position: relative;
  cursor: grab;
}
.carousel-snap__track:active {
  cursor: grabbing;
}
.carousel-snap__track-inner {
  display: flex;
  gap: var(--carousel-snap-gap);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
.carousel-snap__track-item {
  flex: 1;
  min-width: calc(33% - var(--carousel-snap-gap) / 3);
}
@media screen and (max-width: 1024px) {
  .carousel-snap__track-item {
    min-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .carousel-snap__track-item {
    min-width: 250px;
  }
}
.carousel-snap__track-item img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.clip-shape-section {
  overflow: hidden;
}

.clip-shape {
  -webkit-clip-path: path("M 20,0 L 320,0 A 20, 20 0, 0, 1 340,20 L 340,60 A 20, 20 0, 0, 0 360,80 L 480,80 A 20, 20 0, 0, 1 500,100 L 500,480 A 20, 20 0, 0, 1 480,500 L 180,500 A 20, 20 0, 0, 1 160,480 L 160,420 A 20, 20 0, 0, 0 140,400 L 20,400 A 20, 20 0, 0, 1 0,380 L 0,20 A 20, 20 0, 0, 1 20,0 Z");
          clip-path: path("M 20,0 L 320,0 A 20, 20 0, 0, 1 340,20 L 340,60 A 20, 20 0, 0, 0 360,80 L 480,80 A 20, 20 0, 0, 1 500,100 L 500,480 A 20, 20 0, 0, 1 480,500 L 180,500 A 20, 20 0, 0, 1 160,480 L 160,420 A 20, 20 0, 0, 0 140,400 L 20,400 A 20, 20 0, 0, 1 0,380 L 0,20 A 20, 20 0, 0, 1 20,0 Z");
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .clip-shape {
    scale: 0.75;
    transform-origin: 0 0;
  }
}
@media screen and (max-width: 480px) {
  .clip-shape {
    scale: 0.5;
  }
}

.form-redirect {
  --font-size: 18px;
  color: var(--font-color--primary);
  font-family: "Satoshi", source-sans-pro, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: min(100%, 648px);
}
@media screen and (max-width: 1512px) {
  .form-redirect {
    --font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .form-redirect {
    --font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .form-redirect {
    width: calc(100% - var(--body-padding) * 2);
  }
}
.form-redirect .form-block {
  position: relative;
  width: 100%;
  height: 3em;
}
.form-redirect .form-block:has(textarea) {
  height: 6em;
}
.form-redirect .form-block .label,
.form-redirect .form-block .input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  font-size: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0;
  outline: none;
}
.form-redirect .form-block .label:focus,
.form-redirect .form-block .input:focus {
  border: 2px solid var(--hero-color--primary);
}
.form-redirect .form-block .label--textarea,
.form-redirect .form-block .input--textarea {
  align-items: flex-start;
}
.form-redirect .form-block .label {
  pointer-events: none;
  transition: 0.25s ease;
  white-space: nowrap;
}
.form-redirect .form-block .label .nested-label {
  font-size: max(0.9em, 13px);
  font-style: oblique;
  translate: 12px -6px;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0s;
}
.form-redirect .form-block .label .nested-label.text-error {
  color: var(--font-color--error);
}
.form-redirect .form-block .input {
  border: none;
  background-color: var(--surface-color-2);
  border-radius: var(--radius-sm);
  resize: none;
}
.form-redirect .form-block-group {
  display: flex;
  gap: 12px;
  width: 100%;
}
.form-redirect .input:focus ~ .label,
.form-redirect .input:not(:placeholder-shown).input:not(focus) ~ .label, .form-redirect:-webkit-autofill, .form-redirect:-webkit-autofill:hover, .form-redirect:-webkit-autofill:focus {
  opacity: 0;
}
.form-redirect .input:focus ~ .label .nested-label,
.form-redirect .input:not(:placeholder-shown).input:not(focus) ~ .label .nested-label, .form-redirect:-webkit-autofill .nested-label, .form-redirect:-webkit-autofill:hover .nested-label, .form-redirect:-webkit-autofill:focus .nested-label {
  translate: 8px 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
  transition: 0.6s cubic-bezier(0.18, 0.97, 0.47, 1), opacity 0.6s cubic-bezier(0.18, 0.97, 0.47, 1) 0.4s;
}
.form-redirect .recaptcha {
  width: 304px;
  height: 78px;
}
.form-redirect .form-footer {
  display: flex;
  gap: 16px;
}

.grid-flow-parent {
  position: relative;
  overflow: hidden;
  margin: auto;
  height: auto;
  aspect-ratio: 1.75/1;
}
@media (prefers-reduced-motion: reduce) {
  .grid-flow-parent canvas {
    display: none !important;
  }
}
.grid-flow-parent > * {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.grid-flow-parent--lg {
  width: calc(100% - var(--body-padding-double));
}
@media screen and (max-width: 768px) {
  .grid-flow-parent--lg {
    width: 100%;
  }
}
.grid-flow-parent--md {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .grid-flow-parent--md {
    width: 100%;
  }
}

.horizontal-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.horizontal-scroll .container {
  display: flex;
  align-items: center;
  height: 80vh;
}
.horizontal-scroll .container .slider {
  display: flex;
  gap: 12px;
}
.horizontal-scroll .figure {
  width: min(24vw, 464px);
  aspect-ratio: 586/880;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .horizontal-scroll .figure {
    width: 50vw;
    aspect-ratio: 1/1.5;
  }
}
.horizontal-scroll .figure img {
  height: 100%;
  width: auto;
}

.main-style-guide .hero {
  align-items: flex-start;
  gap: var(--section-gap);
  padding-block: 650px;
}
@media screen and (max-width: 768px) {
  .main-style-guide .hero {
    padding-block: 164px;
  }
}

.marquee {
  color: var(--font-color--primary);
  font-family: var(--font-family--heading);
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding-double);
  overflow: hidden;
  width: 100vw;
  max-width: 1920px;
}
@media screen and (max-width: 1512px) {
  .marquee {
    font-size: max(49.2px, 4.8vw);
  }
}
.marquee-inner {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline-end: 0.5ch;
}
.marquee .marquee-text {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 100%;
  display: inline-flex;
  text-wrap: nowrap;
  gap: 0.5ch;
}

.tabs__controls {
  padding-block: var(--section-gap);
}
.tabs__btn--active {
  background: var(--font-color--primary);
  color: var(--background-color);
}
.tabs__panel img {
  max-width: 480px;
}
.tabs__panel--hidden {
  display: none;
}/*# sourceMappingURL=styles.css.map */