.section-logos {
  @include section-fade;
}

.logos-group {
  & + & {
    margin-block-start: var(--section-gap-double);
  }

  &__h2 {
    @include h3;
    margin-block-end: 24px;

    @include mq-max(md) {
      text-align: center;
    }
  }

  &__p {
    @include paragraph-width-snip;
    margin-block-end: var(--section-gap-half);
  }

  &__imgs {
    @include row-center;
    flex-wrap: wrap;

    img {
      flex: 1;
    }

    &.grid-5 {
      img {
        max-width: 20%;

        @include mq-max(xl) {
          max-width: 25%;
        }

        @include mq-max(lg) {
          max-width: 33%;
        }

        @include mq-max(md) {
          max-width: 50%;
        }
      }
    }

    &.grid-4 {
      img {
        max-width: 25%;

        @include mq-max(lg) {
          max-width: 33%;
        }

        @include mq-max(md) {
          max-width: 50%;
        }
      }
    }

    &.grid-3 {
      img {
        max-width: 33%;

        @include mq-max(md) {
          max-width: 50%;
        }
      }
    }

    &.grid-sm-1 {
      img {
        @include mq-max(sm) {
          max-width: 100%;
        }
      }
    }
  }
}
