.carousel-section {
  overflow: hidden;
}

.carousel {
  &__track {
    overflow: hidden;
    position: relative;
    cursor: grab;
    margin-block-end: var(--section-gap-half);

    &:active {
      cursor: grabbing;
    }

    &-inner {
      display: flex;
      gap: var(--carousel-gap);
      transition: transform 0.3s ease-in-out;
      will-change: transform;
    }
  }

  &__track-item {
    flex: 1;
    min-width: calc(33% - var(--carousel-gap) / 3);

    @include mq-max(lg) {
      min-width: 500px;
    }

    @include mq-max(md) {
      min-width: 250px;
    }

    img {
      pointer-events: none;
      user-select: none;
    }
  }

  &__controls {
    @include row-center(space-between);
    justify-content: flex-end;

    &-slider {
      @include row-center;
      gap: var(--panel-gap);
    }

    &-cta {
      .carousel-cta {
        padding: var(--btn-padding);
      }
    }

    &-autoplay {
      display: none;
    }

    button {
      @include row-center;
      padding: 4px 2px;

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      img {
        width: 24px;
      }
    }

    .carousel-btn-prev {
      img {
        rotate: 180deg;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
