.carousel-section {
  overflow: hidden;
}

.carousel {
  &__track {
    overflow: auto;
    position: relative;
    margin-block-end: var(--section-gap-half);
    scroll-snap-type: x mandatory;

    &-inner {
      display: flex;
      gap: var(--carousel-gap);
      transition: transform 0.3s ease-in-out;
      will-change: transform;
    }
  }

  &__track-item {
    flex: 1;
    min-width: calc(33% - var(--carousel-gap) / 3);
    scroll-snap-align: start;

    @include mq-max(lg) {
      min-width: 500px;
    }

    // @include mq-max(md) {
    //   min-width: 250px;
    // }

    img {
      pointer-events: none;
      user-select: none;
    }
  }

  &__controls {
    @include row-center(space-between);
    justify-content: flex-end;
    justify-self: flex-end;
    flex: 1;

    @include mq-max(lg) {
      flex-direction: column;
    }

    &-slider {
      @include row-center;
      gap: var(--panel-gap);

      @include mq-max(lg) {
        display: none;
      }
    }

    &-cta {
      .carousel-cta {
        padding: var(--btn-padding);
      }
    }

    &-autoplay {
      display: none;
    }

    button {
      @include row-center;
      padding: 4px 2px;

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      img {
        width: 24px;
      }
    }

    .carousel-btn-prev {
      img {
        rotate: 180deg;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  &__progress {
    @include row-center(flex-start);
    background: var(--surface-color);
    width: 66%;
    height: 3px;

    @include mq-max(lg) {
      display: none;
    }

    &-bar {
      height: 100%;
      background: var(--hero-color--primary);
      transition: $ease;
    }
  }

  &-footer {
    @include row-center(space-between);
  }
}
