.main-about {
  padding: var(--body-padding-sm);
}

.section-values {
  @include row-center;
  gap: var(--section-gap-double);
  margin-block-start: var(--top-spacing-header);
  margin-block-end: var(--section-gap-double);

  @include mq-min(lg) {
    @include partial-height-section;
  }

  @include mq-max(lg) {
    flex-direction: column;
  }

  &__text {
    @include column-start;

    @include mq-max(lg) {
      align-items: center;
      text-align: center;
    }
  }

  &__svg {
    height: 100%;
    flex-shrink: 0;

    .values-svg {
      width: 100%;
      height: 100%;
      fill: var(--hero-color--primary);
    }
  }
}

.section-mission {
  @include dark-theme;
  position: relative;
  padding: 0;

  .mission-pin {
    @include full-height-section; // OVERRIDE BELOW
    @include column-center;
    border-radius: var(--radius);
    background: var(--hero-color--primary);
    overflow: hidden;

    @include mq-max(lg) {
      min-height: auto; // OVERRIDING MIXIN
    }
  }

  .mission-title {
    @include column-center;

    * {
      text-transform: uppercase;
      letter-spacing: -1px;
      text-align: center;
      text-wrap: balance;

      @include mq-min(md) {
        letter-spacing: -2px;
        line-height: 112%;
      }
    }

    .light {
      font-size: 40px;
      font-weight: 400;

      @include mq-max(md) {
        font-size: 30px;
      }
    }

    .heavy {
      font-size: 75px;
      font-weight: 900;

      @include mq-max(md) {
        font-size: 50px;
      }
    }
  }

  .mission-ripple {
    @include absolute-center;
    border: 2px solid var(--font-color--primary);
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;

    @include mq-max(lg) {
      border: 1px solid var(--font-color--primary);
      width: 64vw;
    }
  }

  .mission-pin-steps {
    // full styles in _util.scss
    padding-bottom: 75vh; // Adjust end of animation (also see pinDuration)
  }
}

.section-leadership {
  @include mq-max(md) {
    @include column-center;
  }

  &__title,
  &__desc {
    // This block is a one-off to center text at md vs lg
    // If you delete it, remove the classes off the elements too
    text-align: left;

    @include mq-max(md) {
      text-align: center;
    }
  }

  .leadership-portraits {
    display: flex;
    flex-wrap: wrap;
    gap: var(--panel-gap);
    justify-content: center;
    width: 100%;

    .portrait-gradient {
      flex: 1;
      aspect-ratio: 1 / 1.35;
      min-width: calc(25% - var(--panel-gap) * 3);
      width: 25%;

      @include mq-max(lg) {
        min-width: calc(50% - var(--panel-gap));
      }

      @include mq-max(sm) {
        min-width: 100%;
      }

      .portrait-gradient__caption-name {
        @include mq-max(xl) {
          @include h4;
        }
      }

      &.big-three {
        min-width: calc(33% - var(--panel-gap) * 2);

        @include mq-max(md) {
          min-width: calc(50% - var(--panel-gap) * 0.5);
        }

        @include mq-max(sm) {
          min-width: 100%;
        }
      }

      &:not(.big-three) {
        @include mq-max(xl) {
          min-width: calc(33% - var(--panel-gap) * 2);
          max-width: calc(36% - var(--panel-gap) * 2);
        }

        @include mq-max(md) {
          min-width: calc(50% - var(--panel-gap) * 0.5);
        }

        @include mq-max(sm) {
          min-width: 100%;
        }

        .portrait-gradient__caption-name {
          @include h4;
        }
      }
    }
  }
}
