.main-about {
  padding: var(--body-padding-sm);
}

.section-values {
  position: relative;
  margin-block-start: var(--top-spacing-header);
  margin-block-end: var(--section-gap-double);

  .values-pin {
    --framing-padding: calc(
      calc(var(--body-padding-double) + var(--header-height) * 4)
    );

    @include row-center(flex-start);
    gap: var(--section-gap-double);

    @include mq-min(lg) {
      height: calc(100lvh - var(--framing-padding)); // Center for pinning
      min-height: 450px;
    }

    @include mq-min(xxl) {
      min-height: 650px;
    }

    @include mq-max(lg) {
      @include column-center(flex-start);
    }
  }

  &__text {
    @include column-start;

    @include mq-min(lg) {
      margin-inline-start: var(--body-padding-double);
      opacity: 0;
    }

    @include mq-max(lg) {
      align-items: center;
      text-align: center;
    }

    &-desc {
      @include mq-min(lg) {
        width: 40vw;
      }
    }
  }

  &__figure {
    flex-shrink: 0;
    width: 92%;
    max-width: 520px;
    aspect-ratio: 1;

    @include mq-min(lg) {
      @include absolute-center;
      width: 38%;
      max-width: 100%;
      height: auto;
    }

    .values-svg {
      width: 100%;
      height: 100%;
      fill: var(--hero-color--primary);

      &__frame {
        opacity: 0;
      }

      &__word {
        opacity: 0;
      }

      &__sunder-sun {
        animation: reveal-sun $ease 0.125s forwards;
        opacity: 0;
        translate: 0 196px;

        @keyframes reveal-sun {
          to {
            opacity: 1;
            translate: 0 0px;
          }
        }
      }
    }
  }

  .mobile-spacer {
    height: 1950px; // This hooks up to the gsap duration
    width: 12px;
    align-self: flex-end;
  }

  .values-pin-steps {
    // Control mobile timing (delay)
    @include mq-max(lg) {
      margin-block-start: 320px;
    }
  }
}

.section-mission {
  @include dark-theme;
  position: relative;
  padding: 0;

  .mission-pin {
    @include full-height-section; // OVERRIDE BELOW
    @include column-center;
    border-radius: var(--radius);
    background: var(--hero-color--primary);
    overflow: hidden;

    @include mq-max(lg) {
      min-height: auto; // OVERRIDING MIXIN
    }
  }

  .mission-title {
    @include column-center;

    * {
      text-transform: uppercase;
      letter-spacing: -1px;
      text-align: center;
      text-wrap: balance;

      @include mq-min(md) {
        letter-spacing: -2px;
        line-height: 112%;
      }
    }

    .light {
      font-size: 40px;
      font-weight: 400;

      @include mq-max(md) {
        font-size: 30px;
      }
    }

    .heavy {
      font-size: 75px;
      font-weight: 900;

      @include mq-max(md) {
        font-size: 50px;
      }
    }
  }

  .mission-ripple {
    @include absolute-center;
    border: 2px solid var(--font-color--primary);
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;

    @include mq-max(lg) {
      border: 1px solid var(--font-color--primary);
      width: 64vw;
    }
  }

  .mission-pin-steps {
    // full styles in _util.scss
    padding-bottom: 75vh; // Adjust end of animation (also see pinDuration)
  }
}

.section-growth {
  $color-active: $blue;
  $color-pending: $grey;
  $transition-duration: 0.5s;

  position: relative;

  .growth-pin {
    @include column-start(flex-start);
    gap: var(--section-gap-double);
    height: 100dvh;
    min-height: 720px;
    padding-block: var(--body-padding-double);

    @include mq-max(xl) {
      min-height: 650px;
    }

    @include mq-max(md) {
      gap: var(--section-gap);
      align-items: center;
      justify-content: space-between;
      padding-block-end: 128px;
      min-height: 750px;
    }
    @include mq-max(sm) {
      min-height: 500px;
    }
  }

  .growth-title {
    @include h3;

    @include mq-max(lg) {
      @include h4;
    }

    @include mq-max(md) {
      margin-block-start: calc(
        var(--body-padding-double) + var(--header-height)
      );
      align-self: center;
    }

    // @include mq-motion-allow {
    //   @include hide-content;
    //   transition: $transition-duration ease;

    //   &.show-item {
    //     @include show-content;
    //   }
    // }
  }

  .growth-links {
    @include column-start;
    gap: 40px;
    width: 96px;
    position: relative;

    @include mq-motion-allow {
      &.show-item {
        // &::after {
        //   height: 100%;

        //   @include mq-max(md) {
        //     height: 1px;
        //     width: 100%;
        //   }
        // }

        .growth-link {
          opacity: 1;

          @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
              transition: 0.3s ease,
                opacity $transition-duration ease 0.05s * $i;
            }
          }
        }
      }
    }

    @include mq-max(xl) {
      gap: 32px;
    }

    @include mq-max(md) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      gap: 12px;
      width: min(100%, 450px);
    }

    .growth-link {
      --tick-width: 12px;

      @include h5;
      @include row-center;
      border-color: transparent;
      padding: 2px;

      @include mq-motion-allow {
        opacity: 0;
        transition: border 0.3s ease, opacity $transition-duration ease;

        @for $i from 1 through 10 {
          &:nth-last-of-type(#{$i}) {
            transition: 0.3s ease, opacity $transition-duration ease 0.05s * $i;
          }
        }
      }

      @include mq-max(md) {
        @include link-font-styles;
      }

      &__tick {
        position: absolute;
        top: 50%;
        right: -12px;
        translate: 100% -50%;
        background: var(--hero-color--primary);
        height: 4px;
        width: 0;

        @include mq-motion-allow {
          transition: $ease;
        }

        @include mq-max(md) {
          top: 100%;
          right: 0;
          left: auto;
          translate: 0 -2px;
          height: 2px;
        }
      }

      &:last-of-type {
        .growth-link__tick {
          &::after {
            @include hide-content;
            content: "Now";
            position: absolute;
            top: 50%;
            translate: 0.75ch -50%;
            transition: $ease;

            @include mq-max(md) {
              top: 0%;
              right: 50%;
              translate: 50% -4.5ch;
            }
          }
        }
      }

      &.active {
        .growth-link__tick {
          width: 12px;

          @include mq-max(md) {
            width: 100%;
            left: 0;
            right: auto;
          }

          &::after {
            @include show-content;

            @include mq-min(md) {
              translate: calc(var(--tick-width) + 0.75ch) -50%;
            }
          }
        }
      }
    }
  }

  .growth-details {
    @include column-center;
    position: absolute;
    bottom: var(--body-padding-double);
    right: 0;
    gap: var(--section-gap-half);

    @include mq-max(xl) {
      align-items: flex-end;
      gap: var(--panel-gap);
    }

    @include mq-max(md) {
      @include row-end(space-between);
      flex-direction: row-reverse;
      width: 100%;
    }
  }

  .growth-counter {
    $ease: cubic-bezier(0.14, 1.18, 0.8, 1);

    @include column-center;

    @include mq-motion-allow {
      opacity: 0;
      transition: $transition-duration ease;

      &.show-item {
        opacity: 1;
      }
    }

    @include mq-max(xl) {
      align-items: flex-end;
    }

    @include mq-max(md) {
      align-items: flex-end;
    }

    .number-counter {
      @include h1;
      display: flex;

      @include mq-max(xl) {
        @include h3;
      }

      @include mq-max(md) {
        @include h4;
      }
    }

    .digit {
      display: block;
      width: 0.9ch;
      height: 1.5ch;
      font-variant-numeric: tabular-nums;
      overflow: hidden;

      &:nth-of-type(2) {
        .sequence {
          @include mq-motion-allow {
            transition: transform 1s $ease; // from 1.35
          }
        }
      }
    }

    .sequence {
      display: block;

      @include mq-motion-allow {
        transition: transform 1s $ease;
      }
    }

    &__label {
      @include h4;

      @include mq-max(md) {
        font-size: 20px;
        line-height: 1;
      }
    }
  }

  .growth-map {
    // @include absolute-center; // issue with map blinking in? Works with top 50vh though...
    @include column-center;
    position: absolute;
    top: 50vh; // fixes map flickering in
    left: 50%;
    translate: -50% -50%;
    width: min(50%, 1200px);

    @media all {
      @include mq-max(xxl) {
        width: 60%;
      }
      @include mq-max(xl) {
        left: 56%;
      }
      @include mq-max(md) {
        left: 50%;
        width: min(100%, 520px);
      }
      @include mq-max(sm) {
        top: 46vh;
      }
    }
    @media (max-height: 750px) {
      top: 364px;
    }

    &__map {
      width: 100%;
      height: 100%;

      .state {
        stroke: $blue;
        fill: $white;

        @include mq-motion-allow {
          transition: fill $transition-duration ease;
        }

        &.active {
          fill: $color-active;
          stroke: $white;
        }
        &.active-pending {
          stroke: $blue;
          fill: $color-pending;
        }
      }
    }
  }

  .growth-key {
    @include row-center;
    gap: var(--panel-gap);

    @include mq-motion-allow {
      opacity: 0;
      transition: $transition-duration ease;

      &.show-item {
        opacity: 1;
      }
    }

    span {
      @include body-font-styles;
      @include row-center;
      gap: 1ch;
      color: $white;
      padding: 5px 10px;
      border-radius: var(--radius-sm);

      @include mq-max(xl) {
        font-size: 15px;
      }
    }

    &__active {
      background-color: $color-active;
    }
    &__pending {
      background-color: $color-pending;
    }
  }

  .growth-pin-steps {
    // full styles in _util.scss
    top: var(--body-padding-double);
    padding-bottom: 75vh; // Adjust end of animation (also see pinDuration)

    .growth-pin-step {
      scroll-margin-top: -128px; // Really crossing the threshold
    }
  }
}

.section-values,
.section-mission,
.section-growth,
.section-timeline {
  display: none !important;
}

.section-leadership {
  @include mq-max(md) {
    @include column-center;
  }

  .leadership-portraits {
    display: flex;
    flex-wrap: wrap;
    gap: var(--panel-gap);
    justify-content: center;
    width: 100%;

    .portrait-gradient {
      flex: 1;
      aspect-ratio: 1 / 1.35;
      min-width: calc(25% - var(--panel-gap) * 3);
      width: 25%;

      @include mq-max(lg) {
        min-width: calc(50% - var(--panel-gap));
      }

      @include mq-max(sm) {
        min-width: 100%;
      }

      .portrait-gradient__caption-name {
        margin-block-end: 4px;
        // @include mq-max(xl) {
        //   @include h4;
        // }
      }

      // Not in use, see njk
      // &.big-three {
      //   min-width: calc(33% - var(--panel-gap) * 2);

      //   @include mq-max(md) {
      //     min-width: calc(50% - var(--panel-gap) * 0.5);
      //   }

      //   @include mq-max(sm) {
      //     min-width: 100%;
      //   }
      // }

      &:not(.big-three) {
        @include mq-max(xl) {
          min-width: calc(33% - var(--panel-gap) * 2);
          max-width: calc(36% - var(--panel-gap) * 2);
        }

        @include mq-max(md) {
          min-width: calc(50% - var(--panel-gap) * 0.5);
        }

        @include mq-max(sm) {
          min-width: 100%;
        }

        // Eyeballing based on longest name
        .portrait-gradient__caption-name {
          @include h4;
          font-size: min(2.92vw, 45px); // One-off set to 45px (overflows)

          @include mq-max(xl) {
            font-size: 3.72vw;
          }

          @include mq-max(md) {
            font-size: 5.8vw;
          }

          @include mq-max(sm) {
            font-size: 36px; // original h4 value, Figma shows two columns though
          }
        }

        .portrait-gradient__caption-role {
          // 20px & 14px
          font-size: min(1.6vw, 20px);

          @include mq-max(xl) {
            font-size: min(2.2vw, 20px);
          }

          @include mq-max(md) {
            font-size: min(4vw, 20px);
          }

          @include mq-max(sm) {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.section-timeline {
  position: relative;
  padding-block-end: var(--section-gap-double);

  .timeline {
    --line-height: 3px;
    --circle-size: 24px;
    --event-gap: 48px;

    @include row-center(space-between);
    position: relative;
    width: 100%;
    margin-block-start: var(--section-gap-double);

    @include mq-max(md) {
      overflow: auto;
      scroll-snap-type: x mandatory;
      gap: var(--event-gap);
    }

    &__event {
      @include column-center;
      gap: 12px;
      text-align: center;
      z-index: 1;

      @include mq-max(lg) {
        min-width: 96px;
        scroll-snap-align: start;

        &:first-of-type {
          margin-inline-start: 48px;
        }
        &-last {
          margin-inline-end: 48px;
        }
      }

      &-year {
        @include h5;
      }

      &-circle {
        width: var(--circle-size);
        height: var(--circle-size);
        border-radius: 50%;
        border: var(--line-height) solid var(--hero-color--primary);
        background-color: var(--background-color);

        @include mq-max(lg) {
          position: relative;

          &::before {
            content: "";
            @include absolute-center;
            display: flex;
            height: var(--line-height);
            width: calc(100% + calc(var(--event-gap) * 2.75));
            background-color: var(--hero-color--primary);
            z-index: -1;
          }
        }
      }

      &-desc {
        @include body-font-styles(sm);
      }
    }

    &__bar {
      position: absolute;
      top: 5ch;
      left: 0;
      width: 0%;
      height: var(--line-height);
      background: var(--hero-color--primary);
    }
  }

  // .timeline-pin-steps {
  //   padding-block-end: 500px;
  // }
}
