.main-join {
  padding-inline: var(--body-padding-sm);

  .hero {
    @include row-start;
    padding: 0;
    gap: var(--body-padding);

    > * {
      width: 100%;

      @include mq-min(lg) {
        width: 50%;
      }
    }

    .join-carousel {
      position: sticky;
      top: var(--body-padding-sm);
      left: var(--body-padding-sm);
      height: var(--full-height-snip-sm);
      min-height: 750px;
      margin-block: var(--body-padding-sm);
      border-radius: var(--radius);
      overflow: hidden;

      @include mq-max(xxl) {
        min-height: 650px;
      }

      @include mq-max(lg) {
        display: none;
      }

      &__img {
        @include hide-content;
        @include absolute-center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $ease;

        &.active {
          @include show-content;
        }
      }
    }

    .form-panel {
      @include column-center;
      align-self: center;
      padding-block: var(--section-gap);
      gap: 96px;

      @media all {
        @include mq-max(xxl) {
          gap: 24px;
        }

        @include mq-max(xl) {
          padding-block: calc(var(--section-gap) * 3);
        }

        @include mq-min(lg) {
          padding-inline-end: var(--body-padding-sm);
        }
      }

      &__title {
        @include h3;

        @media all {
          @include mq-max(xxl) {
            margin-block-end: 24px;
          }

          @include mq-max(lg) {
            @include column-center;
            text-align: center;
          }

          @include mq-max(sm) {
            width: 150px;
          }
        }
      }
    }
  }
}
