.section-oss-history {
  @include mq-max(lg) {
    @include column-center;
  }

  &__events {
    @include column-start;
    gap: var(--section-gap-double);

    @include mq-max(lg) {
      width: 100%;
    }
  }

  .service-event {
    @include row-center(flex-start);
    gap: var(--section-gap-double);
    width: 100%;

    @include mq-max(lg) {
      flex-direction: column;
      gap: var(--section-gap);
    }

    &__graphic {
      width: 320px;

      @include mq-max(xxl) {
        width: 20%;
      }

      @include mq-max(lg) {
        width: 250px;
      }

      @include mq-min(xl) {
        margin-inline-start: var(--section-gap-double);
      }
    }

    &__content {
      max-width: 1024px;
      width: 50%;
      flex: 1;

      @include mq-max(lg) {
        @include column-center;
        width: 100%;
      }
    }

    &__year {
      @include h4;
    }

    &__title {
      @include h3;

      @include mq-max(lg) {
        text-align: center;
        text-wrap: balance;
      }
      @include mq-max(md) {
        @include h4;
      }
      @include mq-max(sm) {
        font-size: 10vw;
      }
    }

    &__desc {
      margin-block-start: var(--section-gap-half);

      @include mq-max(lg) {
        text-align: center;
        text-wrap: balance;
      }

      &:has(+ .cta-group) {
        margin-block-end: var(--section-gap-half);
      }
    }

    .cta-group {
      @include mq-min(lg) {
        justify-content: flex-start;
      }
    }
  }

  // .carousel {
  // see _carousel-swiper.scss
  // }
}
