// .main-sunder-way {
//   padding: var(--body-padding-sm);
// }

.section-ethos {
  --panel-translate-offset: 128px;

  position: relative;
  padding: 0;

  .ethos-top {
    @include h1; // used to calc img size (lh)
    @include row-center;
    gap: var(--section-gap);
    width: 100%;

    @include mq-max(xl) {
      @include h3; // One-off to make ethos responsive at 1200px
    }

    @include mq-max(lg) {
      flex-direction: column;
    }

    &__title {
      @include h1;

      @include mq-max(xl) {
        @include h3; // One-off to make ethos responsive at 1200px
      }

      @include mq-max(lg) {
        // @include h3; // Font-size usually drops here (see one-off above)
        text-align: center;
      }
    }

    &__figure {
      // border: $test;
      position: relative;
      width: 100%;
      height: 3lh;
      object-fit: cover;
      border-radius: var(--radius);
      overflow: hidden;

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;

        @include mq-motion-allow {
          opacity: 0;
          transition: $ease;

          &.active {
            opacity: 1;
          }
        }
      }

      .ethos-img-1 {
        opacity: 1;
      }
    }
  }

  .ethos-middle {
    @include row-center;
    gap: var(--section-gap);

    @include mq-max(xl) {
      flex-direction: column;
      width: 100%;
      overflow: hidden;
    }

    &__p {
      @include mq-min(xl) {
        width: 40%;
      }
      @include mq-max(xl) {
        font-size: $body-text-2;
      }
    }

    &__panels {
      @include row-stretch(flex-start);
      gap: 16px;
      width: 100%;
      overflow: auto; // needed for scroll-snap
      scroll-snap-type: x mandatory;

      @include mq-min(xl) {
        width: 60%;
      }

      &-panel {
        background: var(--surface-color);
        border-radius: var(--radius);
        padding: var(--body-padding);
        aspect-ratio: 1;
        flex: 1 1 auto;
        flex-shrink: 0;
        width: 32%;
        min-width: 248px;

        @include mq-min(lg) {
          @include mq-motion-allow {
            opacity: 0;
            translate: var(--panel-translate-offset) 0;
            transition: $ease;

            &.active {
              translate: 0 0;
              opacity: 1;
            }
          }
        }

        @include mq-max(lg) {
          scroll-snap-align: start; // placing in mq. Was messing with gsap translate for desktop
        }

        .panel-title {
          @include h5;
          margin-block-end: calc(var(--section-gap-half) / 2);
        }
      }
    }
  }

  .ethos-bottom {
    @include row-center(space-between);
    @include dark-theme;
    margin: var(--section-gap-half) auto 0;
    background-color: var(--hero-color--primary);
    padding: var(--body-padding);
    border-radius: var(--radius);
    gap: var(--section-gap);
    width: calc(100% - var(--body-padding-double) * 2);

    @include mq-min(lg) {
      @include mq-motion-allow {
        opacity: 0;
        translate: calc(var(--panel-translate-offset) * -1) 0;
        transition: $ease;

        &.active {
          opacity: 1;
          translate: 0 0;
        }
      }
    }

    @include mq-max(lg) {
      width: calc(100% - var(--body-padding-double));
      flex-direction: column;
      padding: var(--body-padding-double);
    }

    &__p {
      @include mq-min(lg) {
        width: min(64%, 664px);
      }
    }
  }

  .ethos-pin {
    @include top-fade-section;
    @include column-center;
    gap: var(--section-gap-half);
    padding: var(--body-padding-double) var(--body-padding-double) 0;

    @include mq-max(lg) {
      padding: var(--body-padding);
    }
  }

  .ethos-pin-steps {
    @include column-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    opacity: 0;

    .ethos-pin-step {
      background: linear-gradient(180deg, $blue, transparent);
      flex: 1;
      width: 100%;
    }
  }
}
