---
layout: app
path: join

title: About
description: #CHANGE ME

# master props
hide_header: false
hide_footer: false
# Page notes
# Using eager loading for computed/dynamic height. Only use fetchpriority sparingly
---

<section class="">
  <h1>About Page</h1>
</section>
