---
layout: app
path: home

title: Join Sunder Energy - Join the best

# master props
hide_header: true
hide_footer: true
---

<section class="hero">
  <h1 class="sr-only">
    {{ page_home.hero.section_title or 'Welcome to Sunder Energy' }}
  </h1>

  <div class="hero-panel sunder-external">
    <!-- prettier-ignore -->
    {% image {
      src: page_home.hero.external_panel.bg_img,
      alt: "",
      className: "hero-panel__bg-img",
      optimize: true,
      loading: "eager",
      sizes: "(max-width: 600px) 320px, (max-width: 1000px) 640px, 1000px"
    } %}
    
    {% image {
      src: page_home.hero.external_panel.logo,
      alt: "",
      className: "hero-panel__logo",
      optimize: false
    } %}

    <h2 class="hero-panel__title">
      <span class="hero-panel__title-sm">
        {{ page_home.hero.external_panel.pre_title }}
      </span>
      <span class="hero-panel__title-lg">
        {{ page_home.hero.external_panel.title }}
      </span>
    </h2>

    <!-- prettier-ignore -->
    {% set cta_1 = page_home.hero.external_panel.cta %}
    {% include "./_includes/components/cta-group.njk" %}
  </div>

  <div class="hero-panel sunder-internal">
    <!-- prettier-ignore -->
    {% image {
      src: page_home.hero.internal_panel.bg_img,
      alt: "",
      className: "hero-panel__bg-img",
      optimize: true,
      loading: "eager",
      sizes: "(max-width: 600px) 320px, (max-width: 1000px) 640px, 1000px"
    } %}
    
    {% image {
      src: page_home.hero.internal_panel.logo,
      alt: "",
      className: "hero-panel__logo",
      optimize: false
    } %}

    <h2 class="hero-panel__title">
      <span class="hero-panel__title-sm">
        {{ page_home.hero.internal_panel.pre_title }}
      </span>
      <span class="hero-panel__title-lg">
        {{ page_home.hero.internal_panel.title }}
      </span>
    </h2>

    <!-- prettier-ignore -->
    {% set cta_1 = page_home.hero.internal_panel.cta %}
    {% include "./_includes/components/cta-group.njk" %}
  </div>
</section>
