---
layout: app
path: home

title: Join Sunder Energy - Join the best
description: Welcome to Sunder, America's leading solar sales company. Empower your future with us and discover why thousands are building brighter careers in the solar industry.

# master props
hide_header: true
hide_footer: true
# Page notes
# Using eager loading for computed/dynamic height. Only use fetchpriority sparingly
---

<section class="hero">
  <h1 class="sr-only">{{ page_home.hero.section_title }}</h1>

  <div class="hero-panel sunder-external">
    <img
      class="hero-panel__bg-img"
      src="{{ page_home.hero.external_panel.bg_img }}"
      alt=""
      width=""
      height=""
      loading="eager"
    />
    <img
      class="hero-panel__logo"
      src="{{ page_home.hero.external_panel.logo }}"
      alt=""
      width=""
      height=""
      loading="eager"
    />
    <h2 class="hero-panel__title">
      <span class="h5">{{ page_home.hero.external_panel.pre_title }}</span>
      <span class="h3">{{ page_home.hero.external_panel.title }}</span>
    </h2>
    <!-- prettier-ignore -->
    {% set cta_1_text = page_home.hero.external_panel.cta_text %}
    {% set cta_1_url = page_home.hero.external_panel.cta_url %}
    {% include "./_includes/components/cta-group.njk" %}
  </div>

  <div class="hero-panel sunder-internal">
    <img
      class="hero-panel__bg-img"
      src="{{ page_home.hero.internal_panel.bg_img }}"
      alt=""
      width=""
      height=""
      loading="eager"
    />
    <img
      class="hero-panel__logo"
      src="{{ page_home.hero.internal_panel.logo }}"
      alt=""
      width=""
      height=""
      loading="eager"
    />
    <h2 class="hero-panel__title">
      <span class="h5">{{ page_home.hero.internal_panel.pre_title }}</span>
      <span class="h3">{{ page_home.hero.internal_panel.title }}</span>
    </h2>

    <!-- prettier-ignore -->
    {% set cta_1_text = page_home.hero.internal_panel.cta_text %}
    {% set cta_1_url = page_home.hero.internal_panel.cta_url %}
    {% include "./_includes/components/cta-group.njk" %}
  </div>
</section>
