---
layout: app
path: library
# Non public facing

title: Library // Delete this file from production sites
description:
show_header: true
---

<section class="hero">
  <h1>Library</h1>
</section>

<iframe
  src="https://drive.google.com/file/d/19so7OJN9FwQUdJ7sfoY-n-lZoCV8iWz9/preview"
  width="640"
  height="480"
  allow="autoplay"
></iframe>

<!-- For DropBox change end url: dl=0 to raw=1 -->
<iframe
  src="https://www.dropbox.com/scl/fi/jnubin7hayzjp0isan04x/home.mp4?rlkey=o4vcowa3l2s37zcup6wq0r3fy&st=2lbtha00&raw=1"
  height="480px"
  width="640px"
  allowfullscreen
></iframe>
