---
layout: app
path: platform

title: Sunder Platform
description: #CHANGE ME

# master props
hide_header: false
hide_footer: false
# Page notes
# Using eager loading for computed/dynamic height. Only use fetchpriority sparingly
---

<!-- prettier-ignore -->
{% set section_h1 = page_platform.hero.section_title %}
{% set section_p = page_platform.hero.section_desc %}
{% set section_bg = page_platform.hero.section_bg %}
{% set section_bg_sm = page_platform.hero.section_bg_sm %}
{% set cta_1_text = page_platform.hero.cta.text %}
{% set cta_1_url = page_platform.hero.cta.url %}
{% set is_hero = true %}
{% set section_img_hero_class = 'full-height' %}
{% if page_platform.hero.toggle_section %}
  {% include "./_includes/partials/partial-img-hero.njk" %}
{% endif %}

<section class="section-logos">
  <!-- prettier-ignore -->
  {% set section_id = "installers" %}
  {% set section_h2 = page_platform.installers.section_title %}
  {% set section_desc = page_platform.installers.section_desc %}
  {% set section_logos = page_platform.installers.img_list %}
  {% set logo_grid = page_platform.installers.logo_grid %}
  {% if page_platform.installers.toggle_section %}
    {% include "./_includes/partials/partial-logos.njk" %}
  {% endif %}

  <!-- prettier-ignore -->
  {% set section_id = "financiers" %}
  {% set section_h2 = page_platform.financiers.section_title %}
  {% set section_desc = page_platform.financiers.section_desc %}
  {% set section_logos = page_platform.financiers.img_list %}
  {% set logo_grid = page_platform.installers.logo_grid %}
  {% if page_platform.financiers.toggle_section %}
    {% include "./_includes/partials/partial-logos.njk" %}
  {% endif %}
</section>
