---
layout: app
path: sunder-way

title: The Sunder Way

# master props
hide_header: false
hide_footer: false
---

{% if page_sunder_way.ethos.toggle_section %}
<section class="section-ethos">
  <div class="ethos-pin">
    <div class="ethos-top">
      <h1 class="ethos-top__title">
        {{ page_sunder_way.ethos.section_title }}
      </h1>
      <figure class="ethos-top__figure">
        <!-- prettier-ignore -->
        {% for img in page_sunder_way.ethos.section_imgs %}
          {% image {
            src: img.src,
            alt: img.title,
            className: "ethos-top__figure-img ethos-img-" + loop.index,
            optimize: true,
            loading: "eager",
            sizes: "(min-width: 768px) 50vw, 100vw"
          } %}
        {% endfor %}
      </figure>
    </div>
    <div class="ethos-middle">
      <p class="ethos-middle__p">{{ page_sunder_way.ethos.section_desc }}</p>

      <div class="ethos-middle__panels" tabindex="-1">
        <!-- prettier-ignore -->
        {% for item in page_sunder_way.ethos.values %}
        <div
          class="ethos-middle__panels-panel value-panel value-panel-{{
            loop.index
          }}"
        >
          <h2 class="panel-title">{{ item.title }}</h2>
          <p class="panel-desc">{{ item.caption }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="ethos-bottom">
    <p class="ethos-bottom__p">{{ page_sunder_way.ethos.cta_p }}</p>

    <!-- prettier-ignore -->
    {% set cta_1 = page_sunder_way.ethos.cta %}
    {% set cta_1_outline = true %}
    {% include "./_includes/components/cta-group.njk" %}
  </div>
  <div class="ethos-pin-steps pin-steps" aria-hidden="true">
    <div class="ethos-pin-step ethos-pin-step-1 pin-step"></div>
    {% for item in page_sunder_way.ethos.values %}
    <div
      class="ethos-pin-step ethos-pin-step-{{ loop.index + 1 }} pin-step"
    ></div>
    {% endfor %}
  </div>
</section>
{% endif %}

<!-- prettier-ignore -->
{% if page_sunder_way.competitions.toggle_section %}
<section class="section-competitions section-gradient" id="competitions">
  <h2 class="section-gradient__title">
    {{ page_sunder_way.competitions.section_title }}
  </h2>
  <p class="section-gradient__desc">
    {{ page_sunder_way.competitions.section_desc }}
  </p>

  <div class="competition-types">
    {% for type in page_sunder_way.competitions.types %}
    <figure class="competition-types__figure">
      <!-- prettier-ignore -->
      {% image {
        src: type.src,
        alt: "",
        className: "competition-types__img",
        optimize: true,
        loading: "eager",
        sizes: "(min-width: 768px) 50vw, 100vw"
      } %}

      <figcaption class="competition-types__caption">
        <h3 class="competition-types__caption-title">{{ type.title }}</h3>
        <p class="competition-types__caption-p">{{ type.caption }}</p>
      </figcaption>

      <span class="cta-1 competition-types__badge">Read More</span>
    </figure>
    {% endfor %}
  </div>

  <div class="yog">
    <figure class="yog-logo">
      <!-- prettier-ignore -->
      {% image {
        src: page_sunder_way.competitions.yog_logo,
        alt: "Year of Gear",
        className: "yog-logo__img",
        optimize: false,
        loading: "eager"
      } %}
    </figure>

    <div class="yog-merch">
      {% for row in page_sunder_way.competitions.yog_merch %}
      <div class="yog-merch__row">
        <!-- prettier-ignore -->
        {% for item in row.items %}
          {% image {
            src: item.src,
            alt: item.title,
            className: "yog-merch__row-img gsap-animate " + item.rotate,
            optimize: true,
            loading: "eager",
            sizes: "(min-width: 768px) 50vw, 100vw"
          } %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="yog-types">
      <!-- prettier-ignore -->
      {% for type in page_sunder_way.competitions.yog_types %}
        {% image {
          src: type.src,
          alt: "Year of Gear",
          className: "yog-types__img",
          optimize: false,
          loading: "eager"
        } %}
      {% endfor %}
    </div>

    <div class="yog-stripes">
      <div class="yog-stripes__stripe"></div>
    </div>
  </div>
</section>
{% endif %}

<!-- prettier-ignore -->
{% if page_sunder_way.experiences.toggle_section %}
<section class="section-experiences section-gradient" id="experiences">
  <h2 class="section-gradient__title section-experiences__title">
    {{ page_sunder_way.experiences.section_title }}
  </h2>
  <p class="section-gradient__desc section-experiences__desc">
    {{ page_sunder_way.experiences.section_desc }}
  </p>

  <!-- prettier-ignore -->
  {% set video_carousel = true %}
  {% set list = page_sunder_way.experiences.videos %}
  {% set carousel_autoplay = page_sunder_way.experiences.carousel_autoplay %}
  {% set carousel_cta_text = "" %}
  {% set carousel_progress = true %}
  {% set cta_1 = null %}
  {% include "./_includes/components/carousel-swiper.njk" %}

  {% if page_sunder_way.experiences.toggle_collage %}
  <div class="collage">
    <div class="collage__column collage__column-1">
      {% for img in page_sunder_way.experiences.collage.column_1 %}
      <img
        class="{%if loop.index0 % 2 == 0%}portrait{%else%}landscape{%endif%}"
        src="{{ img.src }}"
        alt="{{ img.title }}"
        loading="eager"
      />
      {% endfor %}
    </div>
    <div class="collage__column collage__column-2">
      {% for img in page_sunder_way.experiences.collage.column_2 %}
      <img
        class="{%if loop.index0 % 2 == 0%}landscape{%else%}portrait{%endif%}"
        src="{{ img.src }}"
        alt="{{ img.title }}"
        loading="eager"
      />
      {% endfor %}
    </div>
    <div class="collage__column collage__column-3">
      {% for img in page_sunder_way.experiences.collage.column_3 %}
      <img
        class="{%if loop.index0 % 2 == 0%}portrait{%else%}landscape{%endif%}"
        src="{{ img.src }}"
        alt="{{ img.title }}"
        loading="eager"
      />
      {% endfor %}
    </div>
    <div class="collage__column collage__column-4">
      {% for img in page_sunder_way.experiences.collage.column_4 %}
      <img
        class="{%if loop.index0 % 2 == 0%}landscape{%else%}portrait{%endif%}"
        src="{{ img.src }}"
        alt="{{ img.title }}"
        loading="eager"
      />
      {% endfor %}
    </div>

    <!-- mobile -->
    <div
      class="collage__column collage__column-mobile collage__column-mobile-1"
    >
      {% for img in page_sunder_way.experiences.collage.column_1_mobile %}
      <img
        class="{%if loop.index0 % 2 == 1%}portrait{%else%}landscape{%endif%}"
        src="{{ img.src }}"
        alt="{{ img.title }}"
        loading="eager"
      />
      {% endfor %}
    </div>
    <div
      class="collage__column collage__column-mobile collage__column-mobile-2"
    >
      {% for img in page_sunder_way.experiences.collage.column_2_mobile %}
      <img
        class="{%if loop.index0 % 2 == 1%}portrait{%else%}landscape{%endif%}"
        src="{{ img.src }}"
        alt="{{ img.title }}"
        loading="eager"
      />
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
{% endif %}

<!-- prettier-ignore -->
{% if page_sunder_way.oss.toggle_section %}
  {% set section_id = "operation-sunder-serves" %}
  {% set section_graphic = page_sunder_way.oss.graphic %}
  {% set graphic_title = page_sunder_way.oss.section_title | removeTokens %}
  {% set section_h1 = '' %}
  {% set section_h2 = page_sunder_way.oss.section_title %}
  {% set section_p = page_sunder_way.oss.section_desc %}
  {% set section_bg = page_sunder_way.oss.section_bg %}
  {% set cta_1 = page_sunder_way.oss.cta %}
  {% set cta_1_outline = false %}
  {% set is_hero = false %}
  {% set container_tag = 'section' %}
  {% set section_img_hero_class = 'oss-section' %}
  {% set img_hero_subcontent = false %}
  {% include "./_includes/partials/partial-img-hero.njk" %}
{% endif %}

<!-- prettier-ignore -->
{% if page_sunder_way.quotes.toggle_section %}
  {% set section_title = page_sunder_way.quotes.section_title %}
  {% set quote_list = page_sunder_way.quotes.list %}
  {% include "./_includes/partials/partial-quote.njk" %}
{% endif %}
