---
layout: app
path: the-sunder-way

title: The Sunder Way
description: #CHANGE ME

# master props
hide_header: false
hide_footer: true
# Page notes
# Using eager loading for computed/dynamic height. Only use fetchpriority sparingly
---

<section class="hero">
  <h1 class="sr-only">{{ page_home.hero.section_title }}</h1>
</section>
