{% if hide_footer != true %}
<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="inner-top">
      <!-- prettier-ignore -->
      {% set logo_link_src = "/static/img/logo-squad-light.svg" %}
      {% set logo_link_class = "footer-logo" %}
      {% set page_tabbing = 'tab-element-page' %}
      {% include "../components/logo-link.njk" %}
    </div>

    <div class="inner-bottom">
      <ul class="footer-links" aria-label="Footer navigation">
        {% for item in navigation.footer_links %}
        <li>
          <a
            class="footer-links__link classic-link tab-element-page"
            href="{{ item.url }}"
          >
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <!-- prettier-ignore -->
      {% set cta_1_text = 'Join the squad' %}
      {% include "../components/cta-group.njk" %}
    </div>
    <!-- <a
      href="https://axyscreative.com"
      target="_blank"
      class="sr-only axys-link tab-element-page"
    >
      Made by AXYS Creative
    </a> -->
  </div>
</footer>
{% endif %}
