<section class="partial-quote" id="{{ section_id }}">
  {% for quote_block in quote_list %}
  <div class="quote">
    <figure class="quote__figure">
      <img class="quote__figure-img" src="{{ quote_block.img_src }}" alt="" />
      <figcaption class="quote__figure-caption">
        <h3 class="quote__figure-caption-name">{{ quote_block.name }}</h3>
        <h4 class="quote__figure-caption-role">{{ quote_block.role }}</h4>
      </figcaption>
    </figure>

    <div class="quote__text-block">
      <h2 class="quote__text-block-title">
        {{ quote_block.title }}
      </h2>
      <blockquote>“{{ quote_block.quote }}”</blockquote>
    </div>
  </div>
  {% endfor %}
</section>
