<section class="partial-quote" id="quote-section">
  {% for quote_block in quote_list %}
  <div class="quote">
    <!-- prettier-ignore -->
    {% set src = quote_block.img_src %}
    {% set name = quote_block.name %}
    {% set role = quote_block.role %}
    {% include "../components/portrait-gradient.njk" %}

    <div class="quote__text-block">
      <h2 class="quote__text-block-title">
        {{ quote_block.title }}
      </h2>
      <blockquote>“{{ quote_block.quote }}”</blockquote>
    </div>
  </div>
  {% endfor %}
</section>
