{% set container_tag = "section" if is_hero else "div" %}

<!-- prettier-ignore -->
<{{ container_tag }}
class="partial-img-hero {{ section_img_hero_class }}"
{% if section_id %}
  id="{{ section_id }}"
{% endif %}
>
  <div class="partial-img-hero__inner">
    <!-- prettier-ignore -->
    <img
      class="partial-img-hero__bg"
      src="{{ section_bg }}"
      alt=""
      {% if is_hero %}
        loading="eager"
      {% else %}
        loading="lazy"
      {% endif %}
    />

    {% if section_graphic %}
    <img
      class="partial-img-hero__graphic"
      src="{{ section_graphic }}"
      alt=""
      eleventy:ignore
    />
    {% endif %}

    <!-- prettier-ignore -->
    {% if section_h1 %}
    <h1 class="partial-img-hero__h1">{{ section_h1 }}</h1>
    {% endif %}

    <!-- prettier-ignore -->
    {% if section_h2 %}
    <h2 class="partial-img-hero__h2">{{ section_h2 }}</h2>
    {% endif %}

    <div class="partial-img-hero__footer">
      <p class="partial-img-hero__p">{{ section_p }}</p>

      <!-- prettier-ignore -->
      {% include "../components/cta-group.njk" %}
    </div>
  </div>
</{{ container_tag }}>
