<section class="section-logos">
  <h2 class="section-logos__h2">{{ section_h2 }}</h2>
  <p class="section-logos__p">{{ section_desc }}</p>

  <div class="section-logos__imgs">
    {% for item in section_logos %}
    <img src="{{ item.src }}" alt="{{ item.alt }}" width="335" height="186" />
    {% endfor %}
  </div>
</section>
